@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0F4C75;
  /* Electric Indigo */
  --accent: #F59E0B;
  /* Amber Orange */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-guton);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (min-width: 768px) {
  body {
    cursor: none;
  }

  a,
  button,
  [role="button"] {
    cursor: none;
  }
}