@import "tailwindcss";

:root {
  --background: #fffff9;
  --foreground: #171717;
  --primary: #0F4C75;
  /* Electric Indigo */
  --accent: #F59E0B;
  /* Amber Orange */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-guton);
  --color-white: #fffff9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Custom slow ping animation with longer pause */
@keyframes ping-slow {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  15% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-ping-slow {
  animation: ping-slow 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}